* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(42, 165, 161);
    width: 100%;
    height: 60px;
    border: 1px solid black;
}

.encabezado__emojis {
    font-size:30px;
}

.encabezado__titulo {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.principal {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.productos {
    width: 100%;
    height: 80vh;

    border: 2px solid green;
}

.productos__titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40px;
}

.productos__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: 200px; /* Aquí creo que debe ser: auto */
    margin: 20px 10px 20px 10px;


    border: 1px solid gray;
}

.formulario {
    width: 100%;
    height: 80vh;

    border: 2px solid crimson;
}

.formulario__titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40px;
}